REDIS_SERVICE_HOST=127.0.0.1
REDIS_DB=2

HTTP_PORT=3001
HTTPS_PORT=3002

READ_ONLY=https://observer.testnet.rchain.coop
VALIDATOR=https://node2.testnet.rchain.coop,https://node3.testnet.rchain.coop

LAST_BLOCK_JOB_INTERVAL=40000

RCHAIN_NAMES_CONTRACT_ID=dappynamesystemtestnet
RCHAIN_NAMES_MASTER_REGISTRY_URI=pqp3gnh9xw8j9wehsdmtdsdmcd6er11s8ifq7o177t3eraybzed69j
DAPPY_NETWORK=gammanetwork
RCHAIN_NETWORK=testnet

# used for explore-deploy and explore-deploy-x
# time (seconds) during which result are cached
# set to 0 if you don't want caching
CACHING=30

# remove if you don't want/need sentry express monitoring
#SENTRY='https://xxx@xxx.ingest.sentry.io/xxx'