REDIS_SERVICE_HOST=127.0.0.1
REDIS_DB=2

NODEJS_SERVICE_PORT_3001=3001
NODEJS_SERVICE_PORT_3002=3002


RNODE_SERVICE_HOST=https://observer-asia.services.mainnet.rchain.coop
RNODE_SERVICE_PORT_40403=443

VALIDATOR=https://node3.root-shard.mainnet.rchain.coop,https://node1.root-shard.mainnet.rchain.coop

RCHAIN_NAMES_CONTRACT_ID=dappy name system
RCHAIN_NAMES_MASTER_REGISTRY_URI=aaa

LAST_BLOCK_JOB_INTERVAL=40000

DAPPY_NETWORK=betanetwork
RCHAIN_NETWORK=testnet

# used for explore-deploy and explore-deploy-x
# time (seconds) during which result are cached
# set to 0 if you don't want caching
CACHING=30

# remove if you don't want/need sentry express monitoring
SENTRY='https://xxx@xxx.ingest.sentry.io/xxx'