REDIS_SERVICE_HOST=127.0.0.1
REDIS_DB=2

HTTP_PORT=3001
HTTPS_PORT=3002

READ_ONLY=https://observer-asia.services.mainnet.rchain.coop
VALIDATOR=https://node3.root-shard.mainnet.rchain.coop,https://node1.root-shard.mainnet.rchain.coop

LAST_BLOCK_JOB_INTERVAL=40000

RCHAIN_NAMES_CONTRACT_ID=dappynamesystem
RCHAIN_NAMES_MASTER_REGISTRY_URI=aaa
DAPPY_NETWORK=dnetwork
RCHAIN_NETWORK=mainnet

# used for explore-deploy and explore-deploy-x
# time (seconds) during which result are cached
# set to 0 if you don't want caching
CACHING=30

# remove if you don't want/need sentry express monitoring
#SENTRY='https://xxx@xxx.ingest.sentry.io/xxx'